body{
    background: url(back.jpg);
    background-repeat: repeat;
    background-size: 100%,100%;
    overflow: hidden;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#myChart {
    width: 480px;
    height: 380px;
    border: 10px solid #0c154a; 
    background-color: #080E33;
    transform: translate(0,399px)
}
#phaserContainer {
    position: absolute;
    transform: translate(0,0px)
}
#Tcontainer{
    transform: translate(-85px,-400px);
    width:507px;
    height:700px;
    border: 1px solid #080E33;;
    float: right;
    color: #4CAF50;
    font-family: "serif";
    font-weight: bold;
    font-size: 20px;

}
#Vcontainer{
    margin-top:3%;
    margin-left:20%;
    margin-right:20%;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.45);
    background-color: #080E33;
    height : 799px;
    width:1100px
}
#population{
    transform:translateX(43px) 
}
#infected{
    transform:translateX(79px)
}
#infectionRate{
    transform:translateX(10px)
}
#deathRate{
    transform:translateX(46px)
}
#pPrecaution{
    transform:translateX(38px)
}
.slidecontainer {
    margin-top:100px;
    margin-left: 5px;
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
   -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
p{
    margin-bottom:60px
}
.value_r{
    margin-bottom:113.8px;
}
.value{
    color: #4CAF50;
    font-family: "serif";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    transform:translateY(-413.8px);
    position: absolute;
    width:83px;
    height:25px;
    border: 1px solid #080E33;;
    margin-left:1013.5px
}
#sim {
    cursor:pointer;
transform: translate(-65px,-410px)

}
#sim:hover{
    color:red;
    
}